<ul class="menu bg-base-200 rounded-box w-full">
  <li><a class="bg-base-300 rounded-box m-1">Canal de insultar al Mario</a></li>
  <li>
    <a class="bg-base-300 rounded-box m-1">Canal Bellaco</a>
    <ul>
      <li><a class="bg-base-300 rounded-box m-1">Jail</a></li>
      <li><a class="bg-base-300 rounded-box m-1">Milf Hunter</a></li>
    </ul>
  </li>
</ul>
<ul class="menu bg-base-200 rounded-box w-full">
  <li><a class="bg-base-300 rounded-box m-1">Canal de insultar al Mario</a></li>
  <li>
    <a class="bg-base-300 rounded-box m-1">Canal Bellaco</a>
    <ul>
      <li><a class="bg-base-300 rounded-box m-1">Jail</a></li>
      <li><a class="bg-base-300 rounded-box m-1">Milf Hunter</a></li>
    </ul>
  </li>
</ul>
<ul class="menu bg-base-200 rounded-box w-full">
  <li><a class="bg-base-300 rounded-box m-1">Canal de insultar al Mario</a></li>
  <li>
    <a class="bg-base-300 rounded-box m-1">Canal Bellaco</a>
    <ul>
      <li><a class="bg-base-300 rounded-box m-1">Jail</a></li>
      <li><a class="bg-base-300 rounded-box m-1">Milf Hunter</a></li>
    </ul>
  </li>
</ul>
<ul class="menu bg-base-200 rounded-box w-full">
  <li><a class="bg-base-300 rounded-box m-1">Canal de insultar al Mario</a></li>
  <li>
    <a class="bg-base-300 rounded-box m-1">Canal Bellaco</a>
    <ul>
      <li><a class="bg-base-300 rounded-box m-1">Jail</a></li>
      <li><a class="bg-base-300 rounded-box m-1">Milf Hunter</a></li>
    </ul>
  </li>
</ul>
<ul class="menu bg-base-200 rounded-box w-full">
  <li><a class="bg-base-300 rounded-box m-1">Canal de insultar al Mario</a></li>
  <li>
    <a class="bg-base-300 rounded-box m-1">Canal Bellaco</a>
    <ul>
      <li><a class="bg-base-300 rounded-box m-1">Jail</a></li>
      <li><a class="bg-base-300 rounded-box m-1">Milf Hunter</a></li>
    </ul>
  </li>
</ul>
<ul class="menu bg-base-200 rounded-box w-full">
  <li><a class="bg-base-300 rounded-box m-1">Canal de insultar al Mario</a></li>
  <li>
    <a class="bg-base-300 rounded-box m-1">Canal Bellaco</a>
    <ul>
      <li><a class="bg-base-300 rounded-box m-1">Jail</a></li>
      <li><a class="bg-base-300 rounded-box m-1">Milf Hunter</a></li>
    </ul>
  </li>
</ul>
<ul class="menu bg-base-200 rounded-box w-full">
  <li><a class="bg-base-300 rounded-box m-1">Canal de insultar al Mario</a></li>
  <li>
    <a class="bg-base-300 rounded-box m-1">Canal Bellaco</a>
    <ul>
      <li><a class="bg-base-300 rounded-box m-1">Jail</a></li>
      <li><a class="bg-base-300 rounded-box m-1">Milf Hunter</a></li>
    </ul>
  </li>
</ul>
<ul class="menu bg-base-200 rounded-box w-full">
  <li><a class="bg-base-300 rounded-box m-1">Canal de insultar al Mario</a></li>
  <li>
    <a class="bg-base-300 rounded-box m-1">Canal Bellaco</a>
    <ul>
      <li><a class="bg-base-300 rounded-box m-1">Jail</a></li>
      <li><a class="bg-base-300 rounded-box m-1">Milf Hunter</a></li>
    </ul>
  </li>
</ul>
<ul class="menu bg-base-200 rounded-box w-full">
  <li><a class="bg-base-300 rounded-box m-1">Canal de insultar al Mario</a></li>
  <li>
    <a class="bg-base-300 rounded-box m-1">Canal Bellaco</a>
    <ul>
      <li><a class="bg-base-300 rounded-box m-1">Jail</a></li>
      <li><a class="bg-base-300 rounded-box m-1">Milf Hunter</a></li>
    </ul>
  </li>
</ul>
