<div class="card bg-base-100 shadow-xl">
    <div class="card-body">
    <h2 class="card-title">
        <div class="w-10 rounded-full">
        <img
            src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
        />
        </div>
        Jail
        <div class="join join-vertical lg:join-horizontal">
        <button class="btn join-item"><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"
            />
        </svg></button>
        <button class="btn join-item"><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"
            />
        </svg></button>
        <button class="btn join-item"><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"
            />
        </svg></button>
        </div>
    </h2>
    
    </div>
</div>
