<div class="card bg-base-100 shadow-xl relative">
    <figure>
        <img
        class="w-full"
        src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExMGJwZWMyM2hkajVxaXI2N25ya2c4cnBnOTlhMTA4cWo2MXVzOHBkYyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/SzOLAe5Q7Jrby/giphy.gif"
        />
    </figure>
    <div class="card-body">
        <h2 class="card-title">
        OffNet Server
        <div class="badge badge-secondary">NEW</div>
        </h2>
        <p>My new Offnet Server</p>
    </div>
</div>